{{#if hasBlock}}
  {{#if _truncate}}
    {{yield (hash
      target=(component "ember-truncate/truncation-target")
      button=(component "ember-truncate/button-toggle"
        _destination=_buttonDestination
        _inPlace=_buttonInPlace
        onClick=(action "toggleTruncate"))
      isTruncated=truncationState
    )}}
  {{else}}
    {{yield (hash
      target=(component "ember-truncate/truncation-noop")
      button=(component "ember-truncate/button-toggle"
        _destination=_buttonDestination
        _inPlace=_buttonInPlace
        onClick=(action "toggleTruncate"))
      isTruncated=truncationState
    )}}
  {{/if}}
{{else}}
  <div onclick={{action (optional (if clickable (action "toggleTruncate") null))}}>
    {{#if _truncate}}
      {{#ember-truncate/truncation-target}}
      {{text}}
      {{/ember-truncate/truncation-target}}
    {{else}}
      {{text}}
    {{/if}}
  </div>
{{/if}}
